{% extends 'base.html' %}
{% block content %}
<style>
    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 50px;
    }
</style>
<div style="margin-top:30px;" class="row">
    <div class="col-md-12">
        <h3>Products</h3>
    </div>
</div>
<div style="margin-top:30px;" class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Product Name</th>
                    <th>Price Ξ</th>
                    <th>Image</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for prod in products %}
                <tr>
                    <td id="prod-id-{{prod.id}}"></td>
                    <td><input id="prod-name-{{prod.id}}" value="{{prod.name}}" /></td>
                    <td><input id="prod-price-{{prod.id}}" type="number" value="{{prod.price}}" /></td>
                    <td><input id="prod-image-{{prod.id}}" value="{{prod.image}}" /></td>
                    <td>
                        <button class="edit btn btn-success" id="prod-edit-{{prod.id}}">
                            <img src="https://img.icons8.com/ios-glyphs/24/000000/save--v1.png" />
                        </button>
                    </td>
                    <td>
                        <button class="delete btn btn-danger" id="prod-remove-{{prod.id}}"><img
                                src="https://img.icons8.com/material-outlined/24/000000/delete-forever.png" />
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    function edit(productId) {
        var productName = $("input#prod-name-" + productId).val();
        var productPrice = $("input#prod-price-" + productId).val();
        var productImage = $("input#prod-image-" + productId).val();
        console.log("Edit ", productName, productPrice, productImage);
        $.post('/admin/products/' + productId,
        data = {
            "name": productName,
            "price": productPrice, 
            "image": productImage
        },
        contentType= "application/json"
        ).done(function(){
            location.reload();
        });
    }
    
    function remove(productId) {
        var productName = $("input#prod-name-" + productId).val();
        var x = confirm("Are you sure you want to remove "+productName+"?");
        if(x){
            $.ajax({
            url: '/admin/products/' + productId,
            type: "DELETE",
            contentType: "application/json",
            success: function(){
                location.reload();
            }
            });
        }
    }

    $(document).ready(function () {
        $(".edit").on('click', function () {
            var productId = $(this).attr('id').split('-')[2]
            edit(productId);
        });
        $(".delete").on('click', function () {
            var productId = $(this).attr('id').split('-')[2]
            remove(productId);
        });
    });
</script>
{% endblock %}