<div class="row">
    {% for product in products %}
    <div class="col-md-3 mt-2">
      <div class="card">
        <div class="card-body">
          <div class="card-img-actions">
            <img width="200" height="200" src="{{product['image']}}" alt="">
          </div>
          <div class="card-body bg-light text-center">
            <div class="mb-2"><h3>{{product['name']}}</h3></div>
              <div>
                <h4>Ξ {{product['price']}}</h4>
              </div>
              <div><button data-price="{{product['price']}}" data-name="{{product['name']}}"
                  class="btn-buy btn btn-success"
                  {% if not session["wallet_address"] %}
                  disabled
                  {% endif %}
                  >Buy Now</button></div>
          </div>
        </div>
      </div>
    </div>
        {%endfor%}
  </div>